
*{
    margin: 0
}

.size {
    width: 100%;
    height: 100vh;
}

#main {
 
    border: 1px solid black;
    background-image: url('./assets/ukraine.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#cover {
    background-color: rgba(0,0,0,.50)
}

.container {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
        height: 100vh;
        align-items: center;

}

.box {
    margin: 0 50px;
    max-width: 50%;
}

.title-inner {
    text-align: center;
    margin: 10px 0;
    font-size: 50px;
}

#img-caption {
    text-align: center;
}

#zelenskyImg {
    width: 100%;
    height: auto;

}


#tribute-info {
    margin-top:20px;
    text-align: center;
display: relative;
   width: 450px;
   width: 100%;
   height: auto;
}

#tribute-link {
    text-decoration: none;
    color: white;
}

#tribute-link:hover{
    background: linear-gradient(to right, midnightblue, royalblue 50%, yellow 120%);
}

.custom-heading {
    font-size: 50px;
}

.img-section {
    position: relative;
}
